body {
    background: #0f1720;
    padding: 0;
    margin: 0;
}

#titleBack {
    position: fixed;
    top: 0;
    background: #377fde;
    height: 15px;
    width: 100%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .4);
}

#solutions {
    margin: 20px auto 0;
    border-collapse: separate;
    border-spacing: 3px;
}

#solutions td {
    font: 14px/1 Helvetica, Arial, sans-serif;
    width: 38px;
    height: 38px;
    padding: 0;
    background: #f2bc0f;
    border-radius: 6px;
    text-align: center;
}

#solutions td.row {
    color: #afadad;
    width: 30px;
    background: none;
    text-align: right;
    font-size: 10px;
}

#numTitle {
    position: fixed;
    top: 0;
    text-align: center;
    background: #377fde;
    height: 15px;
    border-spacing: 0;
    padding-left: 1px;
}

#numTitle td {
    width: 41px;
    height: 15px;
    background: none;
    font: 10px/1.5 Helvetica, Arial, sans-serif;
}

#answer {
    display: none;
    position: fixed;
    background: rgba(15, 23, 32, .85);
    color: #afadad;
    height: 200px;
    width: 87%;
    top: calc(50% - 100px);
    left: 10.5%;
    border-radius: 40px;
    font: 18px/18px Consolas, Helvetica, Arial, sans-serif;
}

#answer #quiz {
    margin: 15px 20px 0;
    text-align: center;
}

#answer #formula {
    height: 140px;
    display: table-cell;
    width: 312px;
    vertical-align: middle;
    text-align: center;
    font-size: 16px;
    font-family: MJXc-TeX-main-R,MJXc-TeX-main-Rw;
}

#answer #solution {
    margin: 0 20px;
    text-align: center;
    font-size: 14px;
}

#controller {
    width: 100%;
}

#controller > span {
    display: block;
    position: absolute;
    top: 15px;
    height: 20px;
    background: #444;
    border-radius: 20px;
    border: 2px solid #afadad;
    width: 20px;
    text-align: center;
    font: 14px/20px Arial, sans-serif;
}

#controller #last {
    left: 20px;
}

#controller #next {
    right: 20px;
}

@media screen and (max-width: 320px) {
    #numTitle td {
        width: 32px;
    }
}

@media screen and (min-width: 768px) {
    #answer {
        width: 360px;
        left: calc(50% - 163px);
        top: calc(50% - 100px);
        border-radius: 40px;
        font: 18px/26px Consolas, Helvetica, Arial, sans-serif;
    }
}